body{
     text-align: center;
}
h1{
color: blue;
}

.About-Section {
    background-image: url("about.jpg");
    color: white;
    padding: 50px;

}
div, p{
color:#FFFFFF;
}

.goals{
   color: white;
   padding: 50px;
   background-color: gray;

}

.mission {
   color: white;
   padding: 50px;
   background-color: black;

}